extends layout

block content

  script(src="js/index.js")
  script(src="js/pages/index.js")

  h1 dripDrop
  input#zipInput(type="text", name="zip", placeholder="Zip")
  br
  p#signedInError.hidden You must be signed in to add a zip

  button#submitButton(onClick=`handleSubmit();`) Submit
    

    script.
      firebase.auth().onAuthStateChanged(function(user) {
        if (!user) {
          // No user is signed in.
          document.getElementById("submitButton").disabled = true;
          document.getElementById("signedInError").style.display = "block";
        }

      });

