doctype html
html
  head
    title= title
    link(rel="apple-touch-icon", sizes="180x180", href="favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="favicons/favicon-16x16.png")
    link(rel="manifest", href="favicons/manifest.json")
    link(rel="mask-icon", href="favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="theme-color", content="#ffffff")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css')
    script(src='https://www.gstatic.com/firebasejs/4.8.1/firebase.js')
    script(src='https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js')
    script(src='/js/index.js')
  body
    ul
      li
        a(href="/") Home
      li
        a(href="/signIn") Sign In
      li
        a#myZips My Zips

      script. 
        function addUsersZipsLink(uid){
          document.getElementById("myZips").href = "/zips/" + uid
        }

        getCurrentUser().then(user => {
          addUsersZipsLink(user.uid);
        })
        
    block content
    
