extends layout

block content
    script(src='/js/pages/zips.js')

    h1 Zips


    if error
        script. 
            console.error("#{error}");
        p Something went wrong ;/
    else
        ul
        if zips &&  Object.keys(zips).length > 0 
            for zip in Object.keys(zips)
                li(id=zip)= zip
                    button(onClick='handleRemove(' + zip + ')') Remove
        else
            p No Zips
            a(href="/") Add Zips
